<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>  
</head>
<body>
    <div class="container row">
        <div class="col-10">
            <h4>Add a New Show</h4>
            <form action="/shows/add_show" method="POST">{% csrf_token %}
                <label>Title:</label><br>
                <input type="text" name="n_title" id="n_title" required><br>
                <label>Network:</label><br>
                <input type="text" name="n_network" id="n_network" required><br>
                <label>Release Date:</label><br>
                <input type="date" id="start" name="trip-start" value="2020-03-02" min="2018-01-01" max="2018-12-31"><br>
                <label>Description:</label><br>
                <textarea name="n_description" id="n_description" cols="25" rows="5"></textarea><br>
                <button type="submit">Create</button><br>
            </form>
        </div>
        <div class="col-2">
            <a href="/">Go Back</a>
        </div>
    </div>
</body>
</html>